<div class="course-card">
  <div class="course-title">{{ index + 1 }} {{ course.description }}</div>

  @if (course.id == 1) {
  <p>Course with ID 1 detected!</p>
  } @else if (course.iconUrl) {
  <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
  } @else {
  <img width="300" alt="No Icon Available" src="https://placehold.co/300x200" />
  }

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <div class="course-category">
    @switch (course.category) { @case ("BEGINNER") {
    <div class="category">Beginner</div>
    } @case ("INTERMEDIATE") {
    <div class="category">Intermediate</div>
    } @case ("ADVANCED") {
    <div class="category">Advanced</div>
    } @default {}}
  </div>

  <button (click)="onCourseViewed()">View Course</button>
</div>
