<div
  class="course-card"
  *ngIf="course"
  [ngClass]="cardClasses()"
  [ngStyle]="cardBackgroundStyles()"
>
  <div class="course-title" [ngStyle]="cardStyles()">
    {{ course.title }}
    {{ cardIndex }} {{ course.description }}
  </div>

  <!-- <ng-container *ngIf="isImageVisible()"> -->
  <img
    width="300"
    alt="Angular Logo"
    [src]="course.iconUrl"
    *ngIf="isImageVisible(); else noImage"
  />

  <ng-template #noImage>
    <img
      width="300"
      alt="No Image Availablesss"
      src="https://placehold.co/300x200"
    />
  </ng-template>

  <!-- </ng-container> -->

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <!-- {{ course.iconUrl ? "Icon URL is valid" : "Icon URL is invalid" }} -->

  <button (click)="onCourseViewed()">View Course</button>
</div>
