.course-card {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  text-align: left;
}
.course-card img {
  border-radius: 4px;
  margin-top: 10px;
}

.course-card button {
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  background: #1a7ce7;
  color: white;
  border-radius: 4px;
}

.util-border {
  border: 2px solid rgb(229, 229, 229);
}

.course-card.beginner {
  background-color: lightgreen;
}
.course-card.intermediate {
  background-color: orange;
}
.course-card.advanced {
  background-color: lightcoral;
}
