<!-- <ng-container *ngIf="course">
  <h2>Course Card</h2>
</ng-container> -->

<div
  class="course-card"
  *ngIf="course"
  [ngClass]="cardClasses()"
  [ngStyle]="cardBackgroundStyles()"
>
  <div class="course-title" [ngStyle]="cardStyles()">
    {{ course.title }}
    {{ cardIndex }} {{ course.description }}
  </div>

  <!-- <ng-container *ngIf="isImageVisible()"> -->
  <img
    width="300"
    alt="Angular Logo"
    [src]="course.iconUrl"
    *ngIf="isImageVisible(); else noImage"
  />

  <ng-template #noImage>
    <img
      #courseImage
      width="300"
      alt="No Image Availablesss"
      src="https://placehold.co/300x200"
    />
  </ng-template>

  <!-- </ng-container> -->

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <ng-container [ngSwitch]="course.category">
    <div class="course-category">
      <ng-container *ngSwitchCase="'BEGINNER'">
        <div class="category">Beginner</div>
      </ng-container>
      <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
      <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
      <div class="category" *ngSwitchDefault>Unknown</div>
    </div>
  </ng-container>

  <!-- {{ course.iconUrl ? "Icon URL is valid" : "Icon URL is invalid" }} -->

  <button (click)="onCourseViewed()">View Course</button>
</div>
