<h1>Total courses: {{ courses.length }}</h1>

<div class="courses">
  @for (course of courses; track course.id; let idx = $index; let count =
  $count; let first = $first; let last = $last; let odd = $odd; let even =
  $even) {

  <!-- {{ count }} -->
  <course-card
    [course]="course"
    [index]="idx"
    [class.is-first]="first"
    [class.is-last]="last"
    [class.is-odd]="odd"
    [class.is-even]="even"
    (courseSelected)="onCourseSelected($event)"
  />
  } @empty {
  <p>No courses available.</p>
  }
</div>

<!-- 
<div class="button-container">
  <ds-button variant="primary">Label</ds-button>
  <ds-button variant="secondary">Label</ds-button>
  <ds-button variant="danger">Label</ds-button>
  <ds-button variant="primary" [disabled]="true">Label</ds-button>
  <ds-button variant="secondary" [disabled]="true">Label</ds-button>
  <ds-button variant="danger" [disabled]="true">Label</ds-button>
</div> -->
