<div class="header">
  <h1>Course List</h1>
</div>

<button (click)="onEditCourse()">Add Course</button>

<!-- Insert Normally -->
<!-- <course-card [course]="courses[3]"></course-card> -->

<!-- Insert with NG for -->
<!-- <div class="courses" *ngIf="courses && courses.length > 0">
  <course-card
    *ngFor="let course of courses"
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
  >
  </course-card>
</div> -->

<!-- Insert with Template -->

<div class="courses" #containerRef>
  <!-- <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[0]"
  >
  </course-card> -->

  <course-card
    #cardRef1
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[2]"
  >
  </course-card>
  <!-- 
  <course-card
    #cardRef2
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[7]"
  >
  </course-card> -->

  <ng-container *ngFor="let course of courses">
    <course-card
      [course]="course"
      (courseSelected)="onCourseSelected($event)"
    ></course-card>
  </ng-container>
</div>
