.top-menu {
  background: #1976d2;
  padding: 2px 15px;
}

.logo {
  max-height: 55px;
}

.courses {
  max-width: 400px;
  margin: 50px auto;
}

.button-container {
  display: grid;
  width: 300px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 20px;
}
