<!-- <div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div> -->

<!-- <h1>{{ courses1.description }}</h1>
<h1>{{ courses2.description }}</h1> -->

<div class="courses">
  @for (course of courses; track course.id) {
  <course-card [course]="course" (courseSelected)="onCourseSelected($event)" />

  }
</div>

<!-- 
<div class="button-container">
  <ds-button variant="primary">Label</ds-button>
  <ds-button variant="secondary">Label</ds-button>
  <ds-button variant="danger">Label</ds-button>
  <ds-button variant="primary" [disabled]="true">Label</ds-button>
  <ds-button variant="secondary" [disabled]="true">Label</ds-button>
  <ds-button variant="danger" [disabled]="true">Label</ds-button>
</div> -->
